<div class="tab">
	<table>
		<thead>
			<tr>
				<th>NR</th>
				<th>NAME</th>
				<th>POINTS</th>
			</tr>
		</thead>
		<tbody>
			@if(toDisplay.currentPlayer && !toDisplay.allNames.includes(toDisplay.currentName)) {
			<tr>
				<td colspan="3">No scores to display</td>
			</tr>
			} @else {
			<tr *ngFor="let player of players | filterAndSortScores:toDisplay.sort:toDisplay.name">
				<td>{{player.position}}</td>
				<td class="td-k">{{player.name}}</td>
				<td>{{player.score}}</td>
			</tr>
			}
		</tbody>
	</table>
</div>