th:nth-child(1) {
	width: 50px;
}

th:nth-child(2) {
	width: 280px;
	min-width: 270px;
}

th:nth-child(3) {
	width: 103px;
	min-width: 100px;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: #8bac0f;
}

::-webkit-scrollbar-thumb {
	background: #555;
}

::-webkit-scrollbar-thumb:hover {
	background: #333;
}