.navbar-statistics {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	background-color: #555;
	color: #9dc311;
	height: 37px;
	box-sizing: border-box;
	border-bottom: 3px solid #333;
	font-size: 25px;
	line-height: 100%;
}

th:nth-child(1),
select:nth-child(1) {
	width: 195px;
	min-width: 185px;
}

th:nth-child(2) {
	min-width: 45px;
}

th:nth-child(3),
select:nth-child(3) {
	min-width: 100px;
}

th:nth-child(4) {
	min-width: 90px;
}

select:nth-child(2) {
	min-width: 51px;
}

select:nth-child(4) {
	min-width: 92px;
}

.td-n {
	vertical-align: top;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: #8bac0f;
}

::-webkit-scrollbar-thumb {
	background: #555;
}

::-webkit-scrollbar-thumb:hover {
	background: #333;
}