.intro {
	height: 340px;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px auto 20px auto;
	width: 350px;
	height: 60px;
	text-align: center;
	font-size: 50px;
	line-height: 100%;
}

.bottom-navbar {
	position: absolute;
	top: 334px;
	left: -3px;
}

.normal {
	& .intro {
		background-color: #91b40f;
	}

	& .title {
		border: 6px outset #555;
		background-color: #333;
		color: #8bac0f;
	}
}

.high {
	& .intro {
		background-color: #222;
	}

	& .title {
		border: 6px outset #afd912;
		background-color: #8bac0f;
		color: #333;
	}
}