<div>
	<div>
		<div class="top-navbar">
			<p>HELLO {{name}}</p>
		</div>
		<ngx-snake [class]="colors" (foodEaten)="onGrow()" (gameOver)="onGameOver()"></ngx-snake>
		<app-game-info [info]="gameInfo"></app-game-info>
	</div>

	<div class="bottom-navbar">
		<p>{{message}}</p>
	</div>

	<div class="refresh">↻SCORES
		<input type="checkbox" [(ngModel)]="refreshFlag" (change)="refreshScores()" />
	</div>
</div>

<router-outlet></router-outlet>

<app-buttons (action)="onAction($event)" [active]="active"></app-buttons>