.gameboy {
	position: relative;
	height: 900px;
	width: 540px;
	background-color: #e5e5e5;
	margin: auto;
	border-radius: 25px 25px 100px 25px;
	box-shadow: inset 0 0 5px 7px #ccc;
	overflow: hidden;
}

.top-line {
	position: absolute;
	width: 100%;
	height: 40px;
	border-bottom: 6px solid #cad2c5;
}

.back-line {
	position: absolute;
	width: 442px;
	height: 40px;
	left: 42px;
	border-left: 6px solid #cad2c5;
	border-right: 6px solid #cad2c5;
}

.display {
	position: absolute;
	width: 500px;
	height: 420px;
	left: 20px;
	top: 65px;
	background-color: #9999a1;
	box-sizing: border-box;
	border-radius: 25px;
	box-shadow: inset 0px 0px 8px #eee;
	border: 1px solid #999;
}

.top-navbar,
.bottom-navbar {
	position: absolute;
	box-sizing: border-box;
	font-family: 'VT323', system-ui, arial;
	font-size: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 100%;
	height: 40px;
	width: 444px;
	background-color: #555;
	color: #a3ca11;
	border: 3px solid #333;
}

.top-navbar {
	left: 25px;
	top: 20px;
	font-size: 27.5px;
}

.board {
	position: absolute;
	left: 25px;
	top: 60px;
}

.right-navbar {
	position: absolute;
	box-sizing: border-box;
	font-family: 'VT323', monospace;
	font-size: 25px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 297px;
	width: 144px;
	right: 29px;
	top: 60px;
	background-color: #333;
	border-left: 3px solid #333;
	border-right: 3px solid #333;
	color: #9dc311;
}

.right-navbar p {
	text-align: center;
}

.bottom-navbar {
	left: 25px;
	top: 357px;
}

.place-A-B {
	position: absolute;
	height: 80px;
	width: 180px;
	background: linear-gradient(to top, #f4f3ee 25%, #c5c3c6 100%);
	rotate: -24deg;
	left: 305px;
	top: 570px;
	border-radius: 50px;
}

.A,
.B,
.exit-and-back {
	position: absolute;
	box-sizing: border-box;
	background-color: #b32430;
	border: 1px solid #d03d49;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	box-shadow: 0 5px 9px #111, inset 0px 2px 5px #b3a4a4;
	transition: 0.07s linear;
	z-index: 1;
}

.A:active,
.B:active {
	box-shadow: 0 2px 3px #111, inset 0px 1px 2px #b3a4a4;
}

.A:hover,
.B:hover,
.outer-circle button:hover,
.scores:hover,
.history:hover,
.exit-and-back:hover {
	cursor: pointer;
}

.A {
	left: 320px;
	top: 600px;
}

.B {
	left: 410px;
	top: 560px;
}

.outer-circle {
	position: absolute;
	height: 180px;
	width: 180px;
	border-radius: 50%;
	left: 35px;
	top: 530px;
	background: linear-gradient(to top, #f4f3ee8f 25%, #c5c3c6a4 100%);
}

.outer-circle button {
	position: absolute;
	background-color: #222;
	border: 2px solid #555;
	border-bottom: none;
	height: 50px;
	width: 50px;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 0 5px 13px #111, inset 0px 2px 5px #b3a4a4;
	transition: 0.07s linear;
	z-index: 1
}

.up {
	left: 65px;
	top: 19px;
}

.down {
	rotate: 180deg;
	left: 65px;
	top: 111px;
}

.left {
	rotate: -90deg;
	left: 19px;
	top: 65px;
}

.right {
	rotate: 90deg;
	left: 111px;
	top: 65px;
}

.outer-circle button:active {
	border-top: none;
	box-shadow: 0 2px 3px #111, inset 0px 1px 2px #b3a4a4;
}

.middle {
	position: absolute;
	height: 50px;
	width: 50px;
	background-color: #222;
	left: 65px;
	top: 65px;
	border-radius: 11px;
	z-index: 1
}

.middle-circle {
	position: absolute;
	height: 32px;
	width: 32px;
	left: 74px;
	top: 74px;
	border-radius: 50%;
	background-color: #333;
	box-shadow: inset 0px -3px 3px #555;
	z-index: 1
}

.place-scores,
.place-history {
	position: absolute;
	height: 36px;
	width: 90px;
	background: linear-gradient(to top, #f4f3ee 0%, #c0c0c0 100%);
	rotate: -24deg;
	border-radius: 18px;
}

.place-scores {
	left: 145px;
	top: 740px;
}

.place-history {
	left: 253px;
	top: 740px;
}

.scores,
.history {
	position: absolute;
	background: linear-gradient(to bottom, #ced4da 0%, #6c757d 100%);
	border: 1px solid #6e6861;
	border-radius: 9px;
	height: 18px;
	width: 72px;
	box-shadow: 0 4px 7px #111, inset 0px 2px 4px #edede9;
	transition: 0.07s linear;
	left: 8px;
	top: 8px;
	z-index: 1;
}

.scores:active,
.history:active {
	box-shadow: 0 2px 2px #111, inset 0px 1px 1px #edede9;
}

.exit-and-back {
	box-shadow: 0 4px 7px #111, inset 0px 1px 4px #b3a4a4;
	height: 35px;
	width: 35px;
	left: 295px;
	top: 510px;
}

.exit-and-back:active {
	box-shadow: 0 1px 2px #111, inset 0px 1px 1px #b3a4a4;
}

.place-sound {
	position: absolute;
	height: 180px;
	width: 240px;
	left: 380px;
	top: 842px;
	rotate: -24deg;
	background-color: #c9c7c3;
	box-shadow: 0 -4px 5px 0 #c9c7c3;
}

.place-sound div {
	position: absolute;
	height: 90px;
	width: 12px;
	background-color: #d2cccc;
	border-bottom: 2px solid #ddd6d6;
	border-left: 2px solid #e5e5e5;
	border-radius: 10px;
	box-shadow: inset -2px 2px 4px #5b5858;
}

.place-sound div:nth-child(1) {
	left: 40px;
	top: -78px;
}

.place-sound div:nth-child(2) {
	left: 65px;
	top: -78px;
}

.place-sound div:nth-child(3) {
	left: 90px;
	top: -78px;
}

.place-sound div:nth-child(4) {
	left: 115px;
	top: -78px;
}

.place-sound div:nth-child(5) {
	left: 140px;
	top: -78px;
}

.place-sound div:nth-child(6) {
	left: 165px;
	top: -78px;
}

.place-sound div::after {
	content: "";
	position: absolute;
	height: 16px;
	width: 12px;
	left: 0px;
	top: 74px;
	border-radius: 0 0 6px 6px;
	background-color: #a2a19994;
	background-color: #aaa6a6cd;
	box-shadow: inset -2px -2px 3px #5b5858;
}