form {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	margin: 0px auto;
	width: 330px;
	height: 230px;
}

@mixin step($width, $color) {
	box-shadow: $width 0 $color, -$width 0 $color, 0 (-$width) $color,
		0 $width $color;
	margin: $width auto;
}

input,
select {
	@include step(6px, black);
	background-color: #8bac0f;
	border: none;
	padding: 5px;
	font-family: "VT323", system-ui, arial;
	font-size: 23px;
	width: 320px;
	margin-top: 0;
}

select {
	padding: 0px;
	width: 150px;
	height: 33px;
}

.token {
	width: 150px;
}

input {
	&.ng-touched {
		&.ng-invalid {
			background-color: #aaa;
		}
	}
}

input:focus {
	outline: none;
}

::spelling-error {
	text-decoration: none;
}

p {
	padding: 0px;
	margin: 0px;
}

.help p {
	font-size: 21px;
}

.title-name,
.title-token,
.title-colors {
	margin-bottom: 0px;
	font-size: 28px;
	font-weight: bold;
	background-color: #444;
	width: 105px;
	color: #85a50e;
	padding: 3px;
	padding-bottom: 7px;
	padding-left: 10px;
}

.title-token {
	width: 118px;
}

.title-colors {
	width: 73px;
}

.down {
	position: absolute;
	top: 230px;
	display: flex;
	flex-direction: row;
}

.down div:nth-child(2) {
	position: absolute;
	left: 180px;
}

app-buttons {
	position: absolute;
	left: -28px;
	top: -23px;
}