<form #form="ngForm" autocomplete="off" (submit)="submitLoginInfo(form.form.value)">
	<div>
		<p class="title-name">USER NAME</p>
		<input name="name" #nameModel="ngModel" required minlength="3" maxlength="20" pattern="^\S+[\S\s]*\S+$" ngModel />
		<div class="help" *ngIf="nameModel.touched && nameModel.invalid">
			<p *ngIf="nameModel.errors?.['required']">
				[NAME IS REQUIRED]
			</p>
			<p *ngIf="nameModel.errors?.['minlength'] || nameModel.errors?.['maxlength']">
				[MIN.3 MAX.20 CHARACTERS LONG]<br />
			</p>
			<p *ngIf="nameModel.errors?.['pattern'] && nameModel.value.length > 1">
				[WITHOUT WHITESPACE AT START AND END]<br />
			</p>
		</div>
	</div>

	<div>
		<p class="title-email">USER E-MAIL</p>
		<input name="email" #emailModel="ngModel" required pattern="^\S+@\S+\.\S+$" type="email" ngModel />
		<div class="help" *ngIf="emailModel.touched && emailModel.invalid">
			<p *ngIf="emailModel.errors?.['required']">
				[E-MAIL IS REQUIRED]
			</p>
			<p *ngIf="emailModel.errors?.['pattern']">
				[INVALID EMAIL]
			</p>
		</div>
	</div>

	<app-buttons [validation]="form.invalid" [block]="true"></app-buttons>
</form>