.A {
	left: 271px;
	top: 511px;
}

form {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	margin: 0px auto;
	width: 330px;
	height: 230px;
}

@mixin step($width, $color) {
	box-shadow: $width 0 $color, -$width 0 $color, 0 (-$width) $color,
		0 $width $color;
	margin: $width auto;
}

input {
	@include step(6px, black);
	background-color: #8bac0f;
	border: none;
	padding: 5px;
	font-family: "VT323", system-ui, arial;
	font-size: 23px;
	width: 320px;
	margin-top: 0;
}

input {
	&.ng-touched {
		&.ng-invalid {
			background-color: #aaa;
		}
	}
}

input:focus {
	outline: none;
}

::spelling-error {
	text-decoration: none;
}

p {
	padding: 0px;
	margin: 0px;
	font-size: 26px;
}

.help p {
	font-size: 22px;
}

.title-name,
.title-email {
	margin-bottom: 4px;
	font-size: 28px;
	font-weight: bold;
	background-color: #444;
	width: 128px;
	color: #85a50e;
	padding: 3px;
	padding-left: 10px;
}

.title-name {
	width: 105px;
}

form div:nth-child(2) {
	position: absolute;
	top: 230px;
}