<div class="intro">
	<div class="title">WELCOME TO SNAKE</div>
	<div class="form">
		<div>
			<p class="title-name">USER NAME</p>
			<input [(ngModel)]="name" type="text" />
			<p class="help"></p>
		</div>

		<div>
			<p class="title-email">USER E-MAIL</p>
			<input [(ngModel)]="email" type="email" />
			<p class="help"></p>
		</div>

		<button class="A" [disabled]="!name || !email" (click)="onSubmitPressed()"><span>START/<br />PAUSE</span></button>
	</div>
</div>

<div class="bottom-navbar">INPUT NAME AND E-MAIL AND PRESS 'START'</div>