/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

ngx-snake {
	position: absolute;
	background: #91b40f;
	box-sizing: border-box;
	border-left: 3px solid #333;

	&.black-and-white {
		ngx-snake-tile {
			background: #ffffff00;
			border: none;

			&.free {
				div {
					background: #ffffff00;

				}
			}

			&.food {
				div {
					background: #222;
					transform: rotate(45deg);
				}
			}

			&.head,
			&.tail,
			&.body {
				div {
					background: #222;
				}
			}
		}
	}
}

.top-navbar,
.bottom-navbar {
	position: absolute;
	box-sizing: border-box;
	font-family: 'VT323', system-ui, arial;
	font-size: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 100%;
	height: 40px;
	width: 444px;
	background-color: #555;
	color: #a3ca11;
	border: 3px solid #333;
}

.bottom-navbar {
	left: 25px;
	top: 357px;
}

.A,
.B,
.exit-and-back {
	position: absolute;
	box-sizing: border-box;
	background-color: #b32430;
	border: 1px solid #d03d49;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	box-shadow: 0 5px 9px #111, inset 0px 2px 5px #b3a4a4;
	transition: 0.07s linear;
	z-index: 1;
}

.A:active,
.B:active {
	box-shadow: 0 2px 3px #111, inset 0px 1px 2px #b3a4a4;
}

button span {
	position: relative;
	display: inline-block;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	color: #0077b6;
	font-size: 16px;
	pointer-events: none;
}

.A span {
	top: 59px;
	left: 21px;
	rotate: -24deg;
}

.A:hover,
.B:hover,
.outer-circle button:hover,
.scores:hover,
.history:hover,
.exit-and-back:hover {
	cursor: pointer;
}

.intro,
.scores-page,
.history-page {
	position: absolute;
	left: 25px;
	top: 20px;
	font-family: 'VT323', system-ui, arial;
	font-size: 21px;
	box-sizing: border-box;
	border: 3px solid #333;
	width: 444px;
}

.navbar-statistics {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	background-color: #555;
	color: #9dc311;
	height: 37px;
	box-sizing: border-box;
	border-bottom: 3px solid #333;
	font-size: 25px;
	line-height: 100%;
}

.choise {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 25px;
	background-color: #777;
}

.tab {
	background-color: #8bac0f;
	height: 272px;
	overflow: auto;
	overflow-x: auto;
}

div table {
	border-collapse: collapse;
}

select {
	height: 25px;
	background-color: #999;
	font-family: 'VT323', system-ui, arial;
	font-size: 21px;
}

select:focus {
	outline: none;
}

input[type='checkbox'] {
	accent-color: black;
}

thead th {
	position: sticky;
	top: 0;
}

th,
td {
	border-bottom: 1px solid #333;
}

th {
	font-size: 24px;
	background-color: #333;
	color: #8bac0f;
}

td {
	color: #000;
	padding-left: 7px;
	padding-right: 5px;
}

.td-k {
	background-color: #a3ca11;
}