<div class="tab">
	<table>
		<thead>
			<tr>
				<th>NAME</th>
				<th>GAME</th>
				<th>TIME</th>
				<th>ACTION</th>
			</tr>
		</thead>
		<tbody>
			@if(toDisplay.currentPlayer && !toDisplay.allNames.includes(toDisplay.currentName)) {
			<tr>
				<td colspan="4">No history to display</td>
			</tr>
			} @else {
			<tr
				*ngFor="let player of players | filterAndSortHistory:toDisplay.name:toDisplay.game:toDisplay.action:toDisplay.sort; let first = first">
				@if(toDisplay.name === 'All') {
				<td>{{player.name}}</td>
				}@else {
				<td class="td-n" *ngIf="first" [attr.rowspan]="players.length">{{player.name}}</td>
				}
				<td class="td-k">{{player.game}}</td>
				<td>{{player.time}}</td>
				<td class="td-k">{{player.action}}</td>
			</tr>
			}
		</tbody>
	</table>
</div>